:root {
  --main-blue: #00bfff;
}

.car {
  width: 100px;
}

.car-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 120px;
  height: 50px;

  background-color: #1db85e;
  border-radius: 20px;
  border: 2px solid white;

  box-shadow: 0 0 5px 5px rgba(221, 221, 221, 1);
}

.flag {
  width: 50px;
}

.input {
  text-align: center;
  margin-bottom: 26px;
}

input[type=range] {
  width: 599px;
  height: 8px;
  -webkit-appearance: none;
  -moz-appearance: none;
  /* appearance: none; */
}

input[type=range]::-webkit-slider-runnable-track {
  border-radius: 5px;
  border: 1px solid rgba(254, 189, 171, 0.74);
  background: #FFFFFF;
}

input[type=range]::-webkit-slider-thumb {
  background: #FE9013;
  border: 1px solid #FE9013;
  border-radius: 10px/100%;
  cursor: pointer;
  width: 115px;
  height: 7px;
  -webkit-appearance: none;
  margin-top: 0;
}

input[type=range]::-moz-range-track {
  border-radius: 10px/100%;
  height: 5px;
  border: 1px solid cyan;
  background-color: #fff;
}

input[type=range]::-moz-range-thumb {
  background: #ecf0f1;
  border: 1px solid cyan;
  border-radius: 10px/100%;
  cursor: pointer;
}

.circle {
  width: 100px;
  height: 100px;

  margin: 0 auto;

  background: yellow;
  border-radius: 50%;
}

.circle-active::before {
  position: relative;
  right: calc((150px - 100px) / 2);
  bottom: calc((150px - 100px) / 2);

  content: "";
  display: block;
  box-sizing: border-box;

  width: 150px;
  height: 150px;

  border: 2px solid orange;
  border-radius: 50%;
}

.circle-active::after {
  position: relative;
  right: calc((200px - 100px) / 2);
  bottom: calc((200px + 300px - 100px) / 2);

  content: "";
  display: block;
  box-sizing: border-box;

  width: 200px;
  height: 200px;

  border: 2px solid orange;
  border-radius: 50%;
}

pre {
  font-size: 20px;
  font-family: Arial, Futura, sans-serif;
  font-weight: bold;
  line-height: 36px;
  text-align: center;
  color: var(--main-blue);
}

.test-span {
  position: none;

  width: 50px;
  height: 50px;

  background-color: #00bfff;
}

.test-main {
  width: 50%;
  height: 300px;

  border: 1px solid #000;
}

.test-parent {
  display: flex;

  width: 60%;
  height: 250px;

  border: 1px solid #000;
}

.test {
  width: 100px;
  height: 100px;

  border: 1px solid #000;
}

.test-2 {
  order: 1;
}

.alert {
  padding: 15px;
  border: 1px solid #d6e9c6;
  border-radius: 4px;
  color: #3c763d;
  background-color: #dff0d8;
}

.container {
  display: flex;
}

.red {
  background: orangered;
  flex-grow: 1;
}

.green {
  background: yellowgreen;
}

.blue {
  background: steelblue;
}

.container>div {
  font-size: 5vw;
  padding: .5em;
  color: white;
}

.base {
  color: #553333;
}

.font-line {
  font: italic small-caps bold 24px/1.2 Arial, sans-serif;
}

.first-line {
  font-variant: small-caps;
}

.underline {
  text-decoration: underline;
}

.border-dotted {
  border: 1px dotted #000;
}

.card {
  font-size: 20px;
  color: #ffffff;
  background-color: #673ab7;
  padding: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
  outline: 2px solid #c52b1c;
  /* Параметры красной рамки */
  outline-offset: 3px;
}

.card-hello {
  width: 230px;
  height: 25px;
  padding: 20px;
  margin: 10px;
  border: 1px solid #9c27b0;
  color: #ffffff;
  background-color: #fa7268;
  font-size: 20px;
  text-align: center;
}

.rectangle {
  width: 100px;
  height: 100px;
  background-color: #000;
  box-sizing: border-box;
}

.header {
  font-size: 22px;
}

.offer {
  font-size: 150%;
}

#header {
  color: red;
  font-style: italic;
  background-color: rgba(0, 0, 0, 0.1);
}

p {
  color: black;
}

.red {
  color: red;
}

#blue {
  color: blue;
}

@media (max-width: 750px) {
  .white-text-mobile {
    color: #ffffff;
  }
}

@keyframes color-change {
  0% {
    color: blue;
  }

  50% {
    color: red;
  }

  100% {
    color: blue;
  }
}

.animation-text {
  animation: color-change 5s infinite;
}

.fixed-position {
  position: fixed;
  top: 20px;
  right: 20px;
}

.item {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 20px;
  float: left;
  background-color: #fa7268;
}